@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.font-inter {
		font-family: var(--font-inter);
	}
	.font-spaceGrotesk {
		font-family: var(--font-spaceGrotesk);
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
